@{
    ViewBag.Title = "Home Auth";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<section>

    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Find Your IT Job or Recruit Top Talent!</h1>
        <p>Connecting IT professionals with top employers. Discover opportunities or hire skilled developers today.</p>
        <a href="#" class="btn btn-outline-light">Find Jobs</a>
        <a href="#" class="btn btn-outline-light">Post a Job</a>
    </div>

    <form class="container d-flex">
        <input class="form-control me-2 no-auth" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary no-auth" type="submit">Search</button>
    </form>

    <div class="row" style="padding: 20px;">
        <h1 class="">Current Vacancies</h1>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Software Development Internship</h5>
                    <p class="card-text">If you're passionate about programming and want to learn while working in a professional environment, apply for our software development internship. You'll learn to develop software applications using modern technologies and methodologies.</p>
                    <a class="btn btn-primary" href="#"> Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Junior Web Developer</h5>
                    <p class="card-text">Are you passionate about web development? Join our team as a Junior Web Developer and help us create innovative websites and web applications. You’ll work with modern technologies and learn from the best.</p>
                    <a class="btn btn-primary" href="#"> Apply Now</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Entry-Level IT Support Specialist</h5>
                    <p class="card-text">We’re looking for a dedicated person eager to learn and join our team as an IT Support Specialist. You’ll assist users with technical issues and contribute to maintaining the IT infrastructure.</p>
                    <a class="btn btn-primary" href="#"> Apply Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 20px;">
        <h1>Popular companies</h1>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>

    </div>

</section>