
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>CodeJobs</title>


<link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />


<body>

    <div class="header">
        <p>Scroll down to see the sticky effect.</p>
    </div>

</body>



