<aside id="sidebar">
    <div class="sidebar-header">
        <h3>My App</h3>
        <button id="sidebarToggle"><i class="fa fa-bars"></i></button>
    </div>
    
    <ul class="sidebar-menu">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
        <li class="has-submenu">
            <a href="#"><i class="fa fa-cog"></i> Settings <span class="arrow">&#9662;</span></a>
            <ul class="submenu">
                <li><a href="#">Account</a></li>
                <li><a href="#">Security</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
</aside>
