/* Stil pentru întreaga pagină */
body.blank {
    background-color: #f1f3f6;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #6a6c6f;
    text-align: center;
    padding: 20px;
}

/* Stil pentru containerul principal */
div {
    margin-bottom: 20px;
}

/* Stil pentru butonul "Back to Dashboard" */
.btn-primary {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

/* Stil pentru conținutul paginii */
@RenderBody() {
    display: block;
    margin: 20px auto;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login-container {
    max-width: 420px;
    margin: auto;
    padding-top: 6%;
}

.hpanel {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.panel-body {
    padding: 20px 30px;
}

.text-center {
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: none;
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.btn-success {
    background-color: #62cb31;
    border-color: #62cb31;
    color: #fff;
}

.btn-success:hover {
    background-color: #56b22b;
}

.btn-default {
    background-color: #fff;
    border: 1px solid #eaeaea;
    color: #6a6c6f;
}

.btn-default:hover {
    background-color: #f7f9fa;
}

.checkbox {
    margin-top: 10px;
    font-size: 13px;
}

.help-block {
    font-size: 12px;
    color: #9d9fa2;
}
