<!DOCTYPE html>
<html>
<head>
	<title>@(ViewBag.Title ?? "CodeJobs | Admin Theme")</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body class="blank">
    <div>
	    <a href="Index.html" class="btn btn-primary">Back to Dashboard</a>
    </div>
        @RenderBody()
</body>

