<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />


</head>
<body class="blank">


    <div class="container">

        <div class="color-line"></div>

        <div class="back-link">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Dashboard</a>
        </div>
        @RenderBody()
    </div>


