@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container mt-3 p-4 w-75">
    <h2>About CodeJobs</h2>
    <div class="container mb-5 p-4 rounded shadow bg-light">
        <h4 class="text-primary mb-3">Our Mission</h4>
        <p>
            La CodeJobs, ne dedicăm să conectăm dezvoltatori talentați cu angajatori de top din întreaga lume. Credem într-un proces de căutare a joburilor simplu, eficient și transparent.
        </p>

        <h4 class="text-primary mt-4 mb-3">What We Offer</h4>    
        <ul>
            <li>Oferim oferte de muncă atent selecționate pentru programatori de toate nivelurile.</li>
            <li>Descrieri detaliate ale joburilor și informații clare despre companii.</li>
            <li>Profiluri de utilizatori unde poți să-ți expui abilitățile și experiența.</li>
            <li>Proces facil de aplicare și programare a interviurilor.</li>
        </ul>

        <h4 class="text-primary mt-4 mb-3">Our Team</h4>
        <p>
            Suntem o echipă pasionată de tehnologie și recrutare, cu scopul de a construi cea mai bună platformă de joburi pentru dezvoltatori.
        </p>

        <h4 class="text-primary mt-4 mb-3">Contact Us</h4>
        <p>Email: support@codejobs.com</p>
        <p>Phone: +1 234 567 890</p>
    </div>
</div>