@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container mt-3 p-4 w-75">
    <h2>How It Works</h2>
    <div class="container mb-5 p-4 rounded shadow bg-light">
        <p>
            CodeJobs facilitează conexiunea între profesioniștii IT și angajatori printr-o platformă intuitivă și sigură.
        </p>
        <h4 class="text-primary mt-4 mb-3">Pentru Căutători de Joburi</h4>
        <p>
            Înregistrați-vă, creați un profil detaliat și aplicați la joburile disponibile. Puteți urmări statusul aplicațiilor și primi notificări.
        </p>

        <h4 class="text-primary mt-4 mb-3">Pentru Angajatori</h4>
        <p>
            Postați anunțuri de angajare, gestionați candidaturile și comunicați direct cu candidații prin platformă.
        </p>

        <h4 class="text-primary mt-4 mb-3">Siguranță și Confidențialitate</h4>
        <p>
            Toate datele sunt protejate conform politicii noastre de confidențialitate, iar platforma utilizează protocoale securizate.
        </p>
    </div>
</div>