@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container mt-3 p-4 w-75">
    <h2>Privacy Policy</h2>
    <div class="container mb-5 p-4 rounded shadow bg-light">
        <p>
            La CodeJobs respectăm confidențialitatea datelor dumneavoastră și ne angajăm să protejăm informațiile personale colectate prin platformă.
        </p>

        <h4 class="text-primary mt-4 mb-3">1. Colectarea Datelor</h4>
        <p>Colectăm date personale necesare pentru înregistrare, aplicare la joburi și comunicare cu angajatorii.</p>

        <h4 class="text-primary mt-4 mb-3">2. Utilizarea Datelor</h4>
        <p>Folosim datele pentru a facilita conexiunea între candidați și angajatori și pentru îmbunătățirea serviciilor noastre.</p>

        <h4 class="text-primary mt-4 mb-3">3. Protecția Datelor</h4>
        <p>Implementăm măsuri tehnice și organizatorice pentru a asigura securitatea informațiilor personale.</p>

        <h4 class="text-primary mt-4 mb-3">4. Drepturile Utilizatorilor</h4>
        <p>Utilizatorii au dreptul să acceseze, să corecteze sau să șteargă datele personale în conformitate cu legislația aplicabilă.</p>

        <h4 class="text-primary mt-4 mb-3">5. Contact</h4>
        <p>Pentru orice întrebări privind politica noastră de confidențialitate, vă rugăm să ne contactați la support@codejobs.com.</p>
    </div>
</div>