@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container mt-3 p-4 w-75">
    <h2>Terms & Conditions</h2>
    <div class="container mb-5 p-4 rounded shadow bg-light">
        <p>
            Vă rugăm să citiți cu atenție acești Termeni și Condiții înainte de a utiliza platforma CodeJobs. Prin accesarea și utilizarea site-ului, sunteți de acord să respectați acești termeni.
        </p>

        <h4 class="text-primary mt-4 mb-3">1. Utilizarea Site-ului</h4>
        <p>Platforma CodeJobs este destinată exclusiv scopurilor legale și respectării legislației aplicabile.</p>

        <h4 class="text-primary mt-4 mb-3">2. Proprietatea Intelectuală</h4>
        <p>Toate conținuturile, logo-urile, textele și designul sunt proprietatea CodeJobs și nu pot fi folosite fără permisiunea explicită.</p>

        <h4 class="text-primary mt-4 mb-3">3. Limitarea Răspunderii</h4>
        <p>CodeJobs nu garantează acuratețea tuturor informațiilor afișate și nu răspunde pentru eventualele daune cauzate de utilizarea site-ului.</p>

        <h4 class="text-primary mt-4 mb-3">4. Modificări ale Termenilor</h4>
        <p>Ne rezervăm dreptul de a modifica acești termeni în orice moment, iar modificările vor fi afișate pe această pagină.</p>

        <h4 class="text-primary mt-4 mb-3">5. Contact</h4>
        <p>În cazul în care aveți întrebări referitoare la acești termeni, vă rugăm să ne contactați la support@codejobs.com.</p>
    </div>
</div>